#news {
    width: 95%;
    background-image: linear-gradient(#f7f7f7, #d9d9d9);
    height:min-content;
}

.card {
    white-space: normal;
}

.dedication::before {
    content: "";
    background-image: url("../Components/Photos/ThreeSkates.jpg");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-color: #c2ebf6;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.dedication {
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 801px) {
    .dedication h4 {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 800px) {
    .dedication h4 {
        font-size: xx-large;
    }
}

.quote {
    position: relative;
    font-size: 6.5vh;
    font-weight: bold;
    width: 80%;
}

.row {
    padding-top: 10%;
}

.col {
    padding-bottom: 2%;
}