#news {
    width: 95%;
    background-image: linear-gradient(#f7f7f7, #d9d9d9);
    height: min-content;
}

#news .col {
    padding: 1% 2%;
}

.card {
    white-space: normal;
}

.dedication::before {
    content: "";
    background-image: url("../Components/Photos/ThreeSkates.jpg");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-color: #c2ebf6;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.dedication {
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 801px) {
    .dedication h4 {
        font-size: 3.5vw;
    }

    .section h2 {
        font-size: 3.2vw;
    }
}

@media screen and (max-width: 800px) {
    .dedication h4 {
        font-size: x-large;
    }

    .section h2 {
        font-size: xx-large;
    }
}

.quote {
    position: relative;
    font-size: 6.5vh;
    font-weight: bold;
    width: 80%;
}

.row {
    padding-top: 10%;
}

.col {
    padding-bottom: 2%;
}

.graphic div {
    display: inline-block;
}

.col-outside {
    /* width: 25vw; */
    /* min-height: 50%; */
    width: 30%;
}

.col-inside {
    /* width: 35%; */
    /* min-height: 50%; */
    width: 50%;
}

@media screen and (max-width: 800px) {
    .col-inside {
        width: 70%;
    }
}

.col-outside img {
    width: 100%;
    border-radius: 0px;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
}

.col-inside img {
    border-radius: 0px;
    width: 100%;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
}