h2.head, h5.head {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

img {
    border-radius: 15px;
}

.title {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 550;
}

h2, h5, h4, h1 {
    color: #001489;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    position: relative;
}

.section {
    padding: 1vh 1vh 1vh 1vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-std {
    background-color: #033076;
    color: white;
    border-radius: 20px;
}

.header1 {
    background-color: #001489;
    text-align: center;
    padding-bottom: 10px;
}

.header1 .navbar-nav .nav-link {
    color: white;
}

.menu .navbar-nav {
    text-align: center;
    margin: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.col {
    display: inline-block;
}

/* html {
    background-color: #f7f6f6;
} */

.skateHeader::before {
    content: "";
    background-image: url("../Components/Photos/Ice_skates_pic.jpg");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-color: #c2ebf6;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    background-size: cover;
}

.skateHeader {
    position: relative;
    width: 100%;
}


.nav-link {
    color: white;
}