.card {
    width: 22rem;
}

.card img {
    min-width: 100%;
}

.spotlight {
    padding-top: 5vh;
    color: #001489;
}

.spotlight h6 {
    width: 95%;
    font-weight: normal;
    padding-top: 2%;
  }

  .card {
    min-width: 22rem;
    margin: 2%;
  }

  #teamLayout {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }