.col {
    padding-bottom: 20px;
    margin: auto;
}

img {
    max-width: 80%;
}

h4 {
    padding: 5% 5%;
}

#faqs {
    width: 80%;
}

.accordion-body {
    text-align: left;
}

@media (min-width: 770px) {
    #highlight {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}