#featured-news {
    overflow-x: auto;
    white-space: nowrap;
}

.card {
    white-space: normal;
}

.dedication {
    background-image: url("../Photos/HaydenSkates.jpeg");
    background-color: #c2ebf6;
    background-size: cover;
}

.quote {
    padding-top: 15%;
    padding-bottom: 8%;
    font-size: 40px;
}

.row {
    padding-top: 10%;
}