#mission {
    padding-top: 4%;
}

#mission p {
    text-align: left;
    width: 80%;
}

h2 {
    /* padding-bottom: 2%; */
    font-size: 45px;
}

h3 {
    color: #001489;
    font-weight: 550;
    font-size: 35px;
}

#mission p {
    color: #001489;
    font-size: 17px;
    padding-top: 2%;
}

.section h5 {
    font-weight: bold;
    padding-bottom: 2%;
    font-size: 25px;
}

img {
    max-width: 70%;
}