h2.head,
h5.head {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

img {
    border-radius: 15px;
}

.title {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 550;
    font-size: 7.5vh;
}

h2, h5, h4, h1 {
    color: #001489;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    position: relative;
}

.section {
    padding: 1vh 1vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-std {
    background-color: #033076;
    color: white;
    border-radius: 20px;
}

.header1 {
    background-color: #001489;
    text-align: center;
    padding-bottom: 10px;
}

.header1 .navbar-nav .nav-link {
    color: white;
}

.menu .navbar-nav {
    text-align: center;
    margin: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.col {
    display: inline-block;
}

html {
    background-color: #f7f6f6;
}

.skateHeader::before {
    content: "";
    background-image: url("../Photos/Ice_skates_pic.jpg");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-color: #c2ebf6;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    background-size: cover;
}

.skateHeader {
    position: relative;
    width: 100%;
}

.header2 .statement {
    text-align: center;
    padding: 1% 12%;
    background-color: white;
    font-size: 5vh;
}

.header2 nav {
    background-color: #e6e6e6;
}

.header2 .navbar-nav .nav-link {
    color: #001489;
}

footer .navbar-nav .nav-link {
    color: #001489;
}

footer {
    background-color: #f7f6f6;
    text-align: center;
    color: #7a7a7a;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

footer p {
    color: #7a7a7a;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

footer img {
    max-width: 15%;
}

.custom-toggler.navbar-toggler2 {
    border-color: white;
}

.custom-toggler2 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}