footer .navbar-nav .nav-link {
    color: #001489;
}

footer {
    background-color: #f7f6f6;
    text-align: center;
    color: #7a7a7a;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

footer p {
    color: #7a7a7a;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

footer img {
    max-width: 15%;
    border-radius: 0px;
}